.App {
    padding: 26px;
    text-align: center;
}

.title {
    font-size: 32px;
    font-weight: 700;
}

.subTitle {
    margin: 10px 0px;
    font-weight: 500;
}

.refreshButton {
    position: relative;
    margin-left: 6px;
}

.loading {
    position: absolute;
    margin-left: 6px;
}

.errorMessage {
    margin: 20px 0px;
    color: red;
}

.table {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.headTableButton {
    background-color: #dddddd;
    font-weight: bold;
    min-width: 30px;
}

.headTableCode {
    background-color: #dddddd;
    font-weight: bold;
    min-width: 150px;
}

.headTable {
    background-color: #dddddd;
    font-weight: bold;
    min-width: 50px;
}

.item {
    display: flex;
    margin-top: 6px;
}

.itemMessage {
    margin-left: 16px;
}

.itemCode {
    line-break: anywhere;
    max-width: 200px;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.getButton {
    display: flex;
    justify-content: center;
}

.redText {
    color: blue;
}

.howtoTitle {
    font-weight: bold;
}

.howto {
    margin-top: 20px;
    text-align: left;
}
